<h1>JK's Store</h1>

<div id="container">

  <div id="product-container">
    <div *ngFor="let product of products; let i = index" id="product-card">
      <img [src]="product.image" alt="{{product.name}}">
      <h2>{{ product.name }}</h2>
      <h2>{{ product.price }}</h2>
      <h2>{{ product.inStock }}</h2>
      <button [disabled]="product.inStock == 0" (click)="addToCart(i)">Thêm vào giỏ</button>
    </div>
  </div>

  <div id="cart-container">
    <div *ngFor="let product of cart; let i = index" id="product-in-cart">
      <p>{{ product.name }}</p>
      <p>{{ product.price }}</p>
      <p>{{ product.quantity }}</p>
      <button (click)="removeFromCart(i)">Xóa</button>
    </div>
    <button (click)="checkout()">Thanh toán</button>
  </div>
</div>








<!--<h1>JK's Store</h1>-->

<!--<div id="container">-->

<!--  <div id="product-container">-->
<!--    @for (product of products; track $index) {-->
<!--    <div id="product-card">-->
<!--      <h2>{{ product.name }}</h2>-->
<!--      <h2>{{ product.price }}</h2>-->
<!--      <h2>{{ product.inStock }}</h2>-->
<!--      <button [disabled]="product.inStock == 0 ? true : false" (click)="addToCart($index)">Thêm vào giỏ</button>-->
<!--    </div>-->
<!--    }-->
<!--  </div>-->

<!--  <div id="cart-container">-->
<!--    @for (product of cart; track $index) {-->
<!--    <div id="product-in-cart">-->
<!--      <p>{{ product.name }}</p>-->
<!--      <p>{{ product.price }}</p>-->
<!--      <p>{{ product.quantity }}</p>-->
<!--    </div>-->
<!--    }-->
<!--  </div>-->
<!--</div>-->
